.contact-form {

    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    width: 45%;
}



.segment {
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:10px;
    align-items: center;
    margin-top: 50px;
    color: #ff7b00;
    margin-bottom: 50px;
}

.segment label{
    width:5rem;
}

button {
    background-color: #ff7b00;
}

button:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    transform: scale(1.1);
}

button:focus {
    outline: 2px solid #f39c12;
}

.selected-option {
    box-shadow: 0 0 10px #f39c12;
}



@media(max-width:1000px){

.contact-title{
    margin-bottom:1.5rem;
    font-size: 0.6rem;   
}
.contact-form {
    width:14rem;
}

.segment{
    flex-direction: column;
}
}