.image-container {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    /* or any page background */
    overflow-x: hidden;
}

.page-content {
    display: flex;
    flex-direction: column;
    /* Stack h1, h2 vertically */
    align-items: center;
    /* Center horizontally */
    justify-content: center;
    /* Center vertically */
    text-align: center;

    animation: fadeIn 0.5s ease-in forwards;
    z-index: 100;
}

.page-content h1 {
    margin-top: 0px;
    padding-top: 80px;
    color: #ea9100;

}

.page-content h2 {
    font-size: larger;
    color: white;
    padding: 7px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.social-media {

    flex-direction: row;
}

.Whatsapp-button {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #25D366;
    /* WhatsApp green */
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 30px;
    /* Rounded button */
    transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

}

.Instagram-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #d20f70;
    color: white;
    border: none;
    padding: 12px 40px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 30px;
    /* Rounded button */
    transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 15px;
}

.Instagram-button:hover {
    transform: scale(1.2)
}

.Whatsapp-button:hover {
    background-color: #1EBE57;
    /* Slightly darker green */
    transform: scale(1.2);
    /* Slight hover scaling */
}

.whatsapp-icon {
    font-size: 20px;
    /* Adjust icon size */
}

.logo {
    margin-top: 90px;
    max-width: 80%;
    max-height: 80vh;
    object-fit: contain;
    border-radius: 300px;
    background-color: rgba(0, 0, 0, 0.9);
}