.cards-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 700px;
    width: 75vw;
    /* Never use 100vw here */
    padding: 40px;
    overflow-x: hidden;
    box-sizing: border-box;


}

.sub-card {
    width: 60vw;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    position: center;
    color: #ff7b00;
    background: rgb(0, 0, 0, 0.8);
    transition: transform 0.3s ease-in-out;
    flex-shrink: 0;
    overflow: hidden;

}

.sub-page {
    color: #ff7b00;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
    animation: fadeIn 0.5s ease-in forwards;
    z-index: 100;
    min-height: 85vh;
    display: flex;
    width: 100%;
    overflow-y: auto;
    gap: 60px;


}